* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Inter', sans-serif;
}
a{
    text-decoration: none;
}
ol, ul {
	list-style: none;
    text-decoration: none;
}
input{
    text-decoration: none;
}