body {
    background-image: url(../img/bg-circulo.svg);
    background-color: rgb(33, 6, 86);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    width: 100%;
}

.numeros {
    background-image: url(../img/vetor-numeros.svg);
    z-index: 2;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

span {
    color: rgba(0, 220, 229, 1);
    font-weight: 700;
}

.cor {
    color: rgba(0, 220, 229, 1);
}

header {
    background-color: transparent;
    text-align: center;
}

.logo-header {
    width: 160px;
    height: auto;
}

.inscrever {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    background-color: rgb(0, 220, 229);
    border-radius: 6px;
    padding: 5px;


    width: fit-content;
    height: fit-content;
    text-align: center;
    margin: auto;
}

.inscrever a {
    color: rgb(67, 24, 141);
}

.group1 {
    color: rgb(255, 255, 255);
    margin: 10% 10% 0 10%;
}

.group1 h2 {
    line-height: 40px;
    font-size: 25px;
}

.group1 p {
    font-size: 14px;
    padding-bottom: 5px;
    line-height: 23.8px;
}

.group1 img {
    width: 300px;
    margin-top: 20px;
}

.button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 10px;
    background-color: rgb(0, 220, 229);
    border-radius: 6px;
    border-color: transparent;
    padding: 7px;
    color: rgba(67, 24, 141, 1);
    width: fit-content;
    height: fit-content;
    text-align: center;
}

form label {
    font-size: 10px;
    cursor: pointer;
}

.email {
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    border-color: transparent;
    padding: 5px;
    margin-bottom: 10px;
    width: fit-content;
    height: fit-content;
}

::placeholder {
    color: rgba(23, 23, 23, 1);
    font-size: 10px;
}

.checkbox {
    cursor: pointer;
}

.group2 {
    background-color: #0B022E;
    padding: 20px 0 20px 0;
}

.container-aviso {
    background-color: rgba(67, 24, 141, .7);
    color: rgb(255, 255, 255);
    width: 290px;
    height: 54.400px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.img-aviso {
    width: 30px;
    height: 24px;
}

.img-aviso img {
    width: 30px;
}

.container-aviso p {
    font-size: 12px;
    max-width: 27ch;
    padding-left: 10px;
}

.container-realidade {
    background-color: white;
    width: 290px;
    height: 325px;
    margin: auto;
    margin-top: 25px;
    padding: 15px 0 15px 0;
    border-radius: 24px;

    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
    flex-direction: column;
}

.container-realidade img {
    width: 220px;
    height: 189px;
    align-self: center;
}

.container-realidade h3 {
    font-size: 16px;
}

.container-realidade p {
    font-size: 12px;
    width: 175px;
    text-align: center;
    margin: 0;
}

.group3 {
    background-color: rgb(255, 255, 255);
    padding: 20px 0 20px 0;
}

.group3-articles {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: auto;
}

.group3-articles article {
    margin-top: 40px;
}
.group3-articles video{
    width: 330px;
}

.group3 h3 {
    padding-top: 8px;
    align-self: flex-start;
}

.group3 article p {
    border-left: solid 2px rgba(0, 220, 229, 1);
    max-width: 31ch;
    padding-left: 15px;
    text-align: justify;
}

.bg-color {
    background-color: rgba(11, 2, 46, 1);
    position: relative;
}
.group4{
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;

}
.top {
    position: absolute;
    top: 0;
    margin-top: 20px;
}
.img-circulo {
    text-align: center;
    margin-top: 35px;
}

.img-circulo img {
    border: solid 4px rgb(0, 220, 229);
    border-radius: 100%;
}

.group4 article h3{
    padding: 0px 8% 0px 8%;
}
.group4 article p {
    max-width: 35ch;
    margin-bottom: 35px;
    line-height: 22px;
    padding: 0px 8% 0px 8%;
}
.group4 article h4 {
    margin-top: 0;
    max-width: 35ch;
    padding: 0px 8% 0px 8%;
}
.group4 article form{
    padding: 0px 8% 0px 8%;
}

.group5 {
    background-color: #0B022E;
    color: white;
    display: grid;
    padding: 20px 8% 20px 10%;
}

.group5 article {
    grid-template-columns: auto;
    justify-items: center;
    align-items: center;

}

#pc {
    background-image: url(../img/vetor-base.svg);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position-y: bottom;
    opacity: 0.5;
    padding-top: 20px;
}

#pc img {
    width: 300px;
}

footer {
    height: 50px;
    background-color: rgb(67, 24, 141);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer img {
    width: 125px;
}

footer a {
    font-size: 12px;
    margin-bottom: 2px;
}

/* Slides */

.mySlides {
    display: none;
}

.mySlides img {
    vertical-align: middle;
    object-fit: cover;
    height: 850px;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    height: 850px;
    z-index: 2;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}